body {
    background-color: #ee9693!important; 
}



h1 {
    background-color: #57a6a8;
    color: #ffffff!important; 
    width: 25%;
    padding: 10px;
    text-align: center;
    font-size: 40px!important;
}

#completeHeader {
    background-color: #57a6a8!important;
    
}

.navbar-nav {
    color: #ffffff!important;
}

.container {
    display: grid;
    width: 920px;
    background-color: #ffffff;
    border: 3px solid #d3af37;
    margin: 60px;
    padding: 20px;
   
    
}

.projectImg {
    position: relative;
    width: 50%;
}

.container .img {
    width: 100%;
    height: auto;
}

.container .btn {
    position: absolute;
    top: 100%;
    left: 30%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color:#57a6a8;
    color: white;
    font-size: 14px;
    /* padding: 12px 24px; */
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

h2 {
    width: 920px;
    color: #57a6a8;
    border-bottom-color: #d3af37;
    border-bottom-style: solid;
    border-bottom-width: medium;
}



h3 {
    color: #57a6a8;
}

.row{
    float: left;
    padding: 20px;
}



.footer {
    background-color: #57a6a8;
    padding: 20px;
    position: fixed;
    bottom:0%;
    width: 100%;
    border-top-color: #d3af37;
    border-top-style: solid;
    border-bottom-width: thin;
    text-align: center; 
    color: #ffffff;
    font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
    font-size: 12px;

}