body {
    background: url("../images/morocco-blue.png"); 
 
}

h1 {
    background: chocolate;
    color: white;
}

#left {
    background: mediumseagreen;
}

#right {
    background: lightseagreen; 
}


#instructions {
    background: bisque;
    color: mediumseagreen;
    
}


.crystalImage {
    height: 100px;
    width: 100px;
}

.container {
    float: left;

}

#result {
    background: seagreen;
    color: white;
    font-weight: bold;
    font-size: 30px;
}